<ul id='menu'>
	<% if user_signed_in? %>
		<li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
	<% else %>
		<li><%= link_to "log in" , new_session_path(:user) %></li>
		<li><%= link_to "register", new_registration_path(:user) %></li>
	<% end %>
</ul>